{%extends 'base.html'%}
{%block title%}
Turns Mehrdad
{%endblock%}
{%block content%}
  <section>
    {% for turn in Turns_mehrdad %}
    <h2>

      {% if turn.name_barber == '2' %}
        <a href="{% url 'Turns:detail' slug=turn.slug %}" class="nameperson">{{turn.customer_name}}</a>
        <p class="small">{{turn.date}}</p>
        <p class="small">{{turn.name_barber}}</p>
        <p style="font-size:10pt">{{turn.registration_time}}</p>
      {% endif %}
    </h2>
    {% endfor %}
  </section>
{%endblock%}
