{%extends 'base.html'%}
{%block title%}
درباره ما
{%endblock%}
{%block content%}
  <section>
    <div class="container mt-3">
      <div class="row align-items-center">
        <div class="col-md-5">
          <h4 class="fw-bold">درباره ما</h4>
          <h5 class="fw-bold text-primary my-4">آرایشگاه امین</h5>
          <p>AminHadidi</p>
          <p>ارائه دهنده انواع خدمات مو و زیبایی</p>
          <p>پروژه درس مهندسی نرم افزار 2</p>
          <p>آدرس: اصفهان </p>
          <p>شماره تماس :3333 3333 031</p>
          <p>زیبایی مو</p>
          <p>سلامتی مو</p>
        </div>




      </div>
    </div>
  </section>
{%endblock%}
</html>ّّّ
